<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Mocks</string>
		<string>Schedulers</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>ElementIndexPair.swift</string>
		</array>
		<array>
			<string>Observable+Extensions.swift</string>
		</array>
		<array>
			<string>Recorded.swift</string>
		</array>
		<array>
			<string>Result+Equatable.swift</string>
		</array>
		<array>
			<string>Subscription.swift</string>
		</array>
		<array>
			<string>TestExtensions.swift</string>
		</array>
	</array>
</dict>
</plist>
