<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>resources</string>
		<string>images</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Book.txt</string>
		</array>
		<array>
			<string>frontmatter.md</string>
		</array>
		<array>
			<string>thanks.md</string>
		</array>
		<array>
			<string>quote.md</string>
		</array>
		<array>
			<string>Preface.md</string>
		</array>
		<array>
			<string>notes.md</string>
		</array>
		<array>
			<string>mainmatter.md</string>
		</array>
		<array>
			<string>introduction.md</string>
		</array>
		<array>
			<string>concepts.md</string>
		</array>
		<array>
			<string>reactivecocoa.md</string>
		</array>
		<array>
			<string>testing.md</string>
		</array>
		<array>
			<string>design.md</string>
		</array>
		<array>
			<string>references.md</string>
		</array>
	</array>
</dict>
</plist>
