<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Implementations</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Observable+Aggregate.swift</string>
		</array>
		<array>
			<string>Observable+Binding.swift</string>
		</array>
		<array>
			<string>Observable+Concurrency.swift</string>
		</array>
		<array>
			<string>Observable+Creation.swift</string>
		</array>
		<array>
			<string>Observable+Debug.swift</string>
		</array>
		<array>
			<string>Observable+Multiple.swift</string>
		</array>
		<array>
			<string>Observable+Single.swift</string>
		</array>
		<array>
			<string>Observable+StandardSequenceOperators.swift</string>
		</array>
		<array>
			<string>Observable+Time.swift</string>
		</array>
	</array>
</dict>
</plist>
