<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Merge.swift</string>
		</array>
		<array>
			<string>Aggregate.swift</string>
		</array>
		<array>
			<string>Amb.swift</string>
		</array>
		<array>
			<string>AnonymousObservable.swift</string>
		</array>
		<array>
			<string>AsObservable.swift</string>
		</array>
		<array>
			<string>Catch.swift</string>
		</array>
		<array>
			<string>CombineLatest+arity.swift</string>
		</array>
		<array>
			<string>CombineLatest.swift</string>
		</array>
		<array>
			<string>Concat.swift</string>
		</array>
		<array>
			<string>ConcatSink.swift</string>
		</array>
		<array>
			<string>ConnectableObservable.swift</string>
		</array>
		<array>
			<string>Debug.swift</string>
		</array>
		<array>
			<string>Defer.swift</string>
		</array>
		<array>
			<string>DelaySubscription.swift</string>
		</array>
		<array>
			<string>DistinctUntilChanged.swift</string>
		</array>
		<array>
			<string>Do.swift</string>
		</array>
		<array>
			<string>Filter.swift</string>
		</array>
		<array>
			<string>FlatMap.swift</string>
		</array>
		<array>
			<string>Map.swift</string>
		</array>
		<array>
			<string>Multicast.swift</string>
		</array>
		<array>
			<string>ObservableBase.swift</string>
		</array>
		<array>
			<string>ObserveOn.swift</string>
		</array>
		<array>
			<string>ObserveOnSerialDispatchQueue.swift</string>
		</array>
		<array>
			<string>ObserveSingleOn.swift</string>
		</array>
		<array>
			<string>Producer.swift</string>
		</array>
		<array>
			<string>RefCount.swift</string>
		</array>
		<array>
			<string>Sample.swift</string>
		</array>
		<array>
			<string>Scan.swift</string>
		</array>
		<array>
			<string>Sink.swift</string>
		</array>
		<array>
			<string>Skip.swift</string>
		</array>
		<array>
			<string>StartWith.swift</string>
		</array>
		<array>
			<string>SubscribeOn.swift</string>
		</array>
		<array>
			<string>Switch.swift</string>
		</array>
		<array>
			<string>Take.swift</string>
		</array>
		<array>
			<string>TakeUntil.swift</string>
		</array>
		<array>
			<string>TakeWhile.swift</string>
		</array>
		<array>
			<string>Throttle.swift</string>
		</array>
		<array>
			<string>Timer.swift</string>
		</array>
		<array>
			<string>Zip+arity.swift</string>
		</array>
		<array>
			<string>Zip.swift</string>
		</array>
	</array>
</dict>
</plist>
