<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Observables</string>
		<string>Concurrency</string>
		<string>DataStructures</string>
		<string>Disposables</string>
		<string>Observers</string>
		<string>Schedulers</string>
		<string>Subjects</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>AnyObject+Rx.swift</string>
		</array>
		<array>
			<string>Cancelable.swift</string>
		</array>
		<array>
			<string>Disposable.swift</string>
		</array>
		<array>
			<string>Error.swift</string>
		</array>
		<array>
			<string>Event.swift</string>
		</array>
		<array>
			<string>ImmediateScheduler.swift</string>
		</array>
		<array>
			<string>Observable+Extensions.swift</string>
		</array>
		<array>
			<string>Observable.swift</string>
		</array>
		<array>
			<string>Observer.swift</string>
		</array>
		<array>
			<string>ObserverOf.swift</string>
		</array>
		<array>
			<string>ObserverType+Extensions.swift</string>
		</array>
		<array>
			<string>ObserverType.swift</string>
		</array>
		<array>
			<string>PeriodicScheduler.swift</string>
		</array>
		<array>
			<string>Rx.h</string>
		</array>
		<array>
			<string>Rx.pch</string>
		</array>
		<array>
			<string>Rx.swift</string>
		</array>
		<array>
			<string>RxBox.swift</string>
		</array>
		<array>
			<string>RxResult.swift</string>
		</array>
		<array>
			<string>RxSwift.h</string>
		</array>
		<array>
			<string>Scheduler.swift</string>
		</array>
	</array>
</dict>
</plist>
