<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>DataSources</string>
		<string>Events</string>
		<string>Protocols</string>
		<string>Proxies</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>CoreDataEntityEvent.swift</string>
		</array>
		<array>
			<string>NSManagedObjectContext+Rx.swift</string>
		</array>
		<array>
			<string>UIActionSheet+Rx.swift</string>
		</array>
		<array>
			<string>UIAlertView+Rx.swift</string>
		</array>
		<array>
			<string>UIBarButtonItem+Rx.swift</string>
		</array>
		<array>
			<string>UIButton+Rx.swift</string>
		</array>
		<array>
			<string>UICollectionView+Rx.swift</string>
		</array>
		<array>
			<string>UIControl+Rx.swift</string>
		</array>
		<array>
			<string>UIDatePicker+Rx.swift</string>
		</array>
		<array>
			<string>UIGestureRecognizer+Rx.swift</string>
		</array>
		<array>
			<string>UIImageView+Rx.swift</string>
		</array>
		<array>
			<string>UILabel+Rx.swift</string>
		</array>
		<array>
			<string>UIScrollView+Rx.swift</string>
		</array>
		<array>
			<string>UISearchBar+Rx.swift</string>
		</array>
		<array>
			<string>UISegmentedControl+Rx.swift</string>
		</array>
		<array>
			<string>UISlider+Rx.swift</string>
		</array>
		<array>
			<string>UISwitch+Rx.swift</string>
		</array>
		<array>
			<string>UITableView+Rx.swift</string>
		</array>
		<array>
			<string>UITextField+Rx.swift</string>
		</array>
		<array>
			<string>UITextView+Rx.swift</string>
		</array>
	</array>
</dict>
</plist>
