<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Implementations</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>NSNotificationCenter+Rx.swift</string>
		</array>
		<array>
			<string>NSObject+Rx+CoreGraphics.swift</string>
		</array>
		<array>
			<string>NSObject+Rx.swift</string>
		</array>
		<array>
			<string>NSURLSession+Rx.swift</string>
		</array>
	</array>
</dict>
</plist>
